<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-world</title>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <img src="static/img/1.gif" style="margin-left:-150px;">
            <div style="margin-top: -1000px">
                <h1>
                    <strong>E-WORLD</strong>
                </h1>
                <h1>
                        <strong style="color:orangered;">Thank you, your order has been placed.</strong>
                    </h1>
                    <h3>An email confirmation has been sent to you. </h3>
                    {% for row in products %}
                    <button><a class="btn btn-info btn-lg" href="/removeFromCart?productId={{row[0]}}" >Place a New Order</a></button>
                    {% endfor %}
            </div>
            
           
        </div>
    </div>
</body>
</html