<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
   
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="container center-text">
            <div class="row ">
                <div class="col-md-3 text-center header-top">
                    <a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i> Home
                    </a>
                </div>
                <div class="col-md-3 text-center header-top">
                    <a href="/prod">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Product
                    </a>
                </div>
                <div class="col-md-3 text-center header-top">
                    <a href="/login">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> Login
                    </a>
                </div>
                <div class="col-md-3 text-center header-top">
                    <div class="share" style="color:white">
                        <i class="fa fa-facebook-square fb" aria-hidden="true"></i>&NonBreakingSpace;
                        <i class="fa fa-twitter-square tw" aria-hidden="true"></i>&NonBreakingSpace;
                        <i class="fa fa-tumblr-square tr" aria-hidden="true"></i>&NonBreakingSpace;
                        <i class="fa fa-pinterest-square pt" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-two">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <form class="search-container">
                        <input type="search" name="search" placeholder="Search here..." required="">
                        <button type="submit">
                            <i class="fa fa-search search"></i>
                        </button>
                    </form>
                </div>
                <div class="col-md-6 logo">
                    <h1 class="text-center">
                        <a href="/">
                            <strong style="color:black">
                                E-WORLD
                            </strong>
                        </a>
                    </h1>
                </div>
                <div class="col-md-3">
                    <ul class="ul_two">
                        <li>
                            <a href="/cart"> Cart  {{ noOfItems }}</a>
                        </li>
                        <li>
                            {% if not loggedIn %}
                            <a href="/loginForm">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
                            {% else %}
                            <div class="dropdown">
                                <p class="dropdown-toggle " id="drop" data-toggle="dropdown">Hi,{{ firstName }}<i class="fa fa-caret-down"></i></p>
                                <div class="dropdown-menu" area-labelledby="drop">
                                   
                                        <ul>
                                            <li>
                                                <a class="dropdown-item btn text-center" href="/account/orders">
                                                    <span style="color:black">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                        &NonBreakingSpace; Your Orders
                                                        <span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item btn" href="/account/profile">
                                                    <span style="color:black">
                                                        <i class="fa fa-user" aria-hidden="true"></i> &NonBreakingSpace; Your Profile
                                                        <span>
                                                </a>
                                            </li>
                                            <li style="position: relative;display: block;">
                                                <a class="dropdown-item btn" href="/logout" class="btn btn-danger">
                                                    <span style="color:black;">
                                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                        &NonBreakingSpace; Sign Out
                                                        <span>
                                                </a>
                                            </li>
                                   
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div style="border-bottom: 1px solid rgb(161, 159, 159)"></div>
    <br>

    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center text-active"><strong>CATEGORIES LIST</strong></h1>
            <div class="col-sm-2">
                <a href="/displayCategory?categoryId=1">
                    <img src="static/uploads/watch.png" class="img-responsive" width="200px">
                    <span style="margin-right:40px; font-size:22px;color:orange;"><strong>Watch</strong></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/displayCategory?categoryId=2">
                    <img src="static/uploads/mobile.jpg" class="img-responsive" width="200px">
                    <span style="margin-right:40px;font-size:22px;color:orange;"><strong>Mobile</strong></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/displayCategory?categoryId=3">
                    <img src="static/uploads/onidatv.jpeg" class="img-responsive" width="200px">
                    <span style="margin-right:40px;font-size:22px;color:orange;"><strong>TV</strong></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/displayCategory?categoryId=4">
                    <img src="static/uploads/samear.jpg" class="img-responsive" width="200px">
                    <span style="margin-right:40px;font-size:22px;color:orange;"><strong>headphones</strong></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/displayCategory?categoryId=5">
                    <img src="static/uploads/epsonprint.jpg" class="img-responsive" width="200px">
                    <span style="margin-right:40px;font-size:22px;color:orange;"><strong>Printers</strong></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/displayCategory?categoryId=6">
                    <img src="static/uploads/mackey.jpg" class="img-responsive" width="200px">
                    <span style="margin-right:40px;font-size:22px;color:orange;"><strong>Accessories</strong></span>
                </a>
            </div>
        </div>
    </div>
    <div class="item active">
        <div class="container">
            <h2 class="text-center">Boom Headsets</h2>
            <div class="row">
                <div class="column col-sm-3">
                    <img src="static/uploads/scull.jpg" class="img-responsive" width="200px" height="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Scull Candy</strong>
                        </h3>
                        <p>Price:Rs.750/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=1">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/2.png" class="img-responsive" width="200px" height="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Sony</strong>
                        </h3>
                        <p>Price:Rs.1150/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=2">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/jblear.jpg" class="img-responsive" width="200px" height="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>JBL</strong>
                        </h3>
                        <p>Price:Rs.1550/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=3">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/samear.jpg" class="img-responsive" width="200px" height="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Samsung</strong>
                        </h3>
                        <p>Price:Rs.500/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=4">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="container">
            <div class="row prod">
                <h2 class="text-center">Printers</h2>
                <div class="column col-sm-3">
                    <img src="static/uploads/hpprint.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Hp</strong>
                        </h3>
                        <p>Price:Rs.7500/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=5">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/godrejprint.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Godrej</strong>
                        </h3>
                        <p>Price:Rs.11150/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=6">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/hclprint.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>HCL</strong>
                        </h3>
                        <p>Price:Rs.12000/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=7">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/epsonprint.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Epson</strong>
                        </h3>
                        <p>Price:Rs.15000/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=8" >Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="container">
            <div class="row prod">
                <h2 class="text-center">High Definition TV</h2>
                <div class="column col-sm-3">
                    <img src="static/uploads/panosonictv.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Panosoic 32</strong>
                        </h3>
                        <p>Price:Rs.25000/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=9">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/sonytv.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Sony 3D</strong>
                        </h3>
                        <p>Price:Rs.50000/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=10">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/onidatv.jpeg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Onida 42 Inch</strong>
                        </h3>
                        <p>Price:Rs.45000/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=11">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/bpltv.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>BPL 22 Inch</strong>
                        </h3>
                        <p>Price:Rs.22000/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=12">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Accessories</h2>
                <div class="column col-sm-3">
                    <img src="static/uploads/hclkey.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>HCL Keyboard</strong>
                        </h3>
                        <p>Price:Rs.650/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=13">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/mackey.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>MAC keyboard</strong>
                        </h3>
                        <p>Price:Rs.2550/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=14">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/combo.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>Keyboard Combo</strong>
                        </h3>
                        <p>Price:Rs.4500/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=15">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="column col-sm-3">
                    <img src="static/uploads/otg.jpg" class="img-responsive" width="200px">
                    <div class="price-list text-left">
                        <h3 style="color:orange">
                            <strong>OTG</strong>
                        </h3>
                        <p>Price:Rs.70/-</p>
                        <a class="btn btn-primary" href="/productDescription?productId=16">Add to Cart &NonBreakingSpace;
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="mySidenav" class="sidenav">
            <a href="/" id="about">Home &NonBreakingSpace; &NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <a href="/prod" id="blog">Products &NonBreakingSpace;
                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </a>
            <a href="/login" id="projects">account &NonBreakingSpace;
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a href="/cart" id="contact">Cart Item&NonBreakingSpace;
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </a>
        </div>
        <div class="container-fluid foot-data">
            <div class="row">
                <div class="col-sm-3 foot-1">
                    <div class="row">
                        <a href="#">
                            <strong class="text-left">
                                <span style="color:orange">E</span>-W
                                <i class="fa fa-power-off" aria-hidden="true"></i>RLD
                            </strong>
                        </a>
                    </div>

                    <div class="row">
                        <p>
                            This is the first website for online purchase of goods and services
                        </p>
                    </div>
                    <div class="row">
                        <div class="foot-icon">
                            <i class="fa fa-facebook-square fb" aria-hidden="true"></i>&NonBreakingSpace;
                            <i class="fa fa-twitter-square tw" aria-hidden="true"></i>&NonBreakingSpace;
                            <i class="fa fa-tumblr-square tr" aria-hidden="true"></i>&NonBreakingSpace;
                            <i class="fa fa-pinterest-square pt" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 foot-2">
                    <div class="row">
                        <h2 class="text-center">
                            <strong style="color:orange">OUR</strong> INFORMATION</h2>
                    </div>
                    <div class="row">
                        <ul class="text-center">
                            <li>Home</li>
                            <li>Mobile Accessories</li>
                            <li>Computer</li>
                            <li>Smart Bands</li>
                            <li>Earphones</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 foot-3" id="info">
                    <div class="row">
                        <h2 class="text-center">
                            <strong style="color:orange">STORE</strong> INFORMATION</h2>
                    </div>
                    <div class="row">
                        <p style="color:orange">
                            <i class="fa fa-phone" aria-hidden="true"></i>Phone Number</p>
                    </div>
                    <div class="row">
                        <p style="margin-left:170px;">+91 978 978 9789</p>
                    </div>


                    <br>
                    <p style="color:orange">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>E-mail Address</p>
                    <p style="margin-left:170px;">eworld@gmail.com</p>
                </div>
                <div class="col-md-3 foot-4" style="margin-top:70px; ">
                    <h2 style="color: white">
                        <strong style="color:orange">CUSTOMER</strong> RATING</h2>
                    <br>
                    <img src="static/img/rating.png">
                </div>
            </div>
            <div class="row text-center">
                <h1 style="color: white">ALL CARDS ACCEPTABLE</h1>
                <img src="static/img/payment.png" width="70%">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>

</html>